<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Softech</title>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
</head>

<body>
    <h1>Магазин электроники Softech</h1>
</body>
    {% if categories %}
        <h2>
            Категории
            {% for category in categories %}
            <ul>{{category.name}}</ul>
            {% endfor %}
        </h2>
    {% endif %}
    {% if items %}
    <div class="items">
        {% for item in items %}
            {{item.price}}
            {{item.title}}
            {{item.description}}
        {% endfor %}
    </div>
    {% endif %}
</html>